{% extends "base.html" %}

{% block head_content %}
<title>Calendar</title>
{% endblock %}

{% block nav %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_projects' %}">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_task' project.id %}">Add Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block container %}
<div class="table-responsive">
    <table class="table">
    <thead class="thead-light">
        <tr>
        <th scope="col">Tasks</th>
        {% for week in weeks_project %}
        <th scope="col">{{ week }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% for k, v in tasks_detail.items %}
        <tr>
        <th scope="row">
          <p>{{ k }}</p>
          <a href="{% url 'edit_task' id=v.3 id2=project.id %}" class="btn btn-dark">Edit Task</a>
        
          <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo{{ v.3 }}">Details</button>  
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ v.3 }}">
              Delete
          </button>
          <div class="modal fade" id="exampleModal{{ v.3 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Borrar elemento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    Estas seguro que quieres borrar este elemento?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No borrar</button>
                      <a href="{% url 'delete_task' id=v.3 id2=project.id %}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
          </div>
        </th>
        {% if v.2 %}
        <td colspan="{{ v.2 }}"></td>
        {% endif %}
        <td colspan="{{ v.1 }}">
        
        <a href="{% url 'edit_task' id=v.3 id2=project.id %}" class="btn btn-dark">Edit Task</a>
        
        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo{{ v.3 }}">Details</button>  
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ v.3 }}">
            Delete
        </button>
        <div class="modal fade" id="exampleModal{{ v.3 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Borrar elemento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   Estas seguro que quieres borrar este elemento?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No borrar</button>
                    <a href="{% url 'delete_task' id=v.3 id2=project.id %}" class="btn btn-danger">Delete</a>
                  </div>
                </div>
              </div>
        </div>
        <a href="{% url 'add_concept' id=project.id id2=v.3 %}" class="btn btn-dark">Add concept to the task</a> 


            {% for description in v.4 %}
            <div id="demo{{ v.3 }}" class="collapse" >
                <div class="card">
                    <div class="card-body">
                        
                            <p class="card-text">{{ description.description }}</p> 
                            <a href="{% url 'edit_concepto' id=v.3 id2=project.id id3=description.id %}" class="btn btn-dark">Edit</a>
                            
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ description.id }}">
                                Delete
                            </button>
                            <div class="modal fade" id="exampleModal{{ description.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Borrar elemento</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                       Estas seguro que quieres borrar este elemento?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No borrar</button>
                                        <a href="{% url 'delete_concepto' id=v.3 id2=project.id id3=description.id %}" class="btn btn-danger">Borrar</a>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo-concept{{ description.id }}">Details</button> 
                            <div id="demo-concept{{ description.id }}" class="collapse">
                                <p class="card-text"> Estimated Volume: {{ description.estimated_volume }} </p>
                                <p class="card-text"> Estimated Price: {{ description.estimated_price }} </p>
                                <p class="card-text"> Unit: {{ description.unit }} </p>
                                <p class="card-text"> Real Volume: {{ description.real_volume }} </p>
                                <p class="card-text"> Real Price: {{ description.real_price }} </p>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
            
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}