{% extends "base.html" %}

{% block head_content %}
<title>Calendar</title>
{% endblock %}

{% block nav %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_projects' %}">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_task' project.id %}">Add Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block container %}
<div class="table-responsive">
    <table class="table">
    <thead class="thead-light">
        <tr>
        <th scope="col"></th>
        {% for week in weeks_project %}
        <th>{{ week }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% for k, v in tasks_detail.items %}
        <tr>
        <th scope="row">{{ k }}</th>
        {% if v.2 %}
        <td colspan="{{ v.2 }}"></td>
        {% endif %}
        <td colspan="{{ v.1 }}">
        
        <a href="{% url 'edit_task' id=v.3 id2=project.id %}" class="btn btn-dark">Edit Task</a>
        <a href="{% url 'delete_task' id=v.3 id2=project.id %}" class="btn btn-danger">Delete</a>
        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo{{ v.3 }}">Details</button>  
        <a href="{% url 'add_concept' id=project.id id2=v.3 %}" class="btn btn-dark">Add Concep To The Task</a>  
            {% for description in v.4 %}
            <div id="demo{{ v.3 }}" class="collapse" >
                <div class="card">
                    <div class="card-body">
                        
                            <p class="card-text">{{ description.description }}</p> 
                            <a href="{% url 'edit_concepto' id=v.3 id2=project.id id3=description.id %}" class="btn btn-dark">Edit</a>
                            <a href="{% url 'delete_concepto' id=v.3 id2=project.id id3=description.id %}" class="btn btn-danger">Delete</a>
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo-concept{{ description.id }}">Details</button> 
                            <div id="demo-concept{{ description.id }}" class="collapse">
                                <p class="card-text"> Estimated Volume: {{ description.estimated_volume }} </p>
                                <p class="card-text"> Estimated Price: {{ description.estimated_price }} </p>
                                <p class="card-text"> Unit: {{ description.unit }} </p>
                                <p class="card-text"> Real Volume: {{ description.real_volume }} </p>
                                <p class="card-text"> Real Price: {{ description.real_price }} </p>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
            
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}