{% extends "base.html" %}

{% block head_content %}
<title>Add project</title>
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_projects' %}">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block container %}
<div style="height: 80vh" class="row">
<div class="col-4 mx-auto my-auto">
<form method="POST" action="{% url 'add_project' %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="architect">Architect</label>
            <select id="architect" class="form-control" name="architect">
                {% for architect in architects %}
                <option value={{ architect.id }}>{{ architect.architect__username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="owner">Owner</label>
            <select id="owner" class="form-control" name="owner">
                {% for owner in owners %}
                <option value={{ owner.id }}>{{ owner.first_name }} {{ owner.last_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name">Project Name</label>
        <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="name" name="name">
        <div class="invalid-feedback">
            {% for error in form.name.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Area</label>
            <input type="number" class="form-control" id="area" name="area">
        </div>
        <div class="form-group col-md-4">
            <label for="type">Type</label>
            <select id="type" class="form-control" name="type">
                {% for type in types %}
                <option>{{ type.0 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="start_date">Start Date</label>
            <input type="date" class="form-control {% if form.start_date.errors %}is-invalid{% endif %}" id="start_date" name="start_date">
            <div class="invalid-feedback">
            {% for error in form.start_date.errors %}
                {{ error }}
            {% endfor %}
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control {% if form.end_date.errors %}is-invalid{% endif %}" id="end_date" name="end_date">
            <div class="invalid-feedback">
            {% for error in form.end_date.errors %}
                {{ error }}
            {% endfor %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Save</button>
</form>
</div>
</div>
{% endblock %}