{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_properties %}

    {% endblock meta_properties %}

    {% block title %}
    <title>Document</title>
    {% endblock title %}

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    {% block css %}

    {% endblock css %}
</head>
<body>
  {% block header_block %}

  {% endblock header_block %}

  {% block content_block %}

  {% endblock content_block %}

  {% block footer_block %}
  
  {% endblock footer_block %}



  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  {% block js_block %}
  {% endblock js_block %}
</body>
</html>